.hero {
    position: relative;
    width: 100%;
    height: calc(100vh - 94px);
}

.hero .hero_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    max-width: var(--layout-max-width);
    padding: var(--layout-gutter-medium);
    margin: 0 auto;
}

.hero .hero_content h1 {
    max-width: 1000px
}

.hero .hero_content p {
    font-size: 20px;
    line-height: 32px;
    max-width: 600px;
    margin: 0;
}

/* Increase padding above 768px */
@media(min-width: 768px) {
    .hero .hero_content {
        padding: var(--layout-gutter-medium);
    }
}
